script(src="/static/jquery/dist/jquery.min.js")
script(src="/static/bootstrap/dist/js/bootstrap.min.js")
script(src="/static/angular/angular.min.js")
script(src="/static/angular-bootstrap/ui-bootstrap.min.js")
script(src="/static/backend/js/plugins.js")
script(src="/static/backend/js/app.js")
script(src="/static/backend/js/util.js")