title EC后台
meta(charset="utf-8")
meta(name="description", content="e-commerce 后台管理")
meta(name="author", content="扉页软件")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(href="/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/css/admin/main.css", rel="stylesheet")