doctype html
html(ng-app="reset_password")
    head
        include ./includes/head
    body
        include ./includes/alert
        #login-container.animation-fadeIn
            // reset-password Title
            .login-title.text-center
                h1
                    strong 重设密码
                    br
                    small
                        strong 微信商城管理系统
            // END reset-password Title
            .block.push-bit
                // reset-form Form
                form#form-reset-password.form-horizontal.form-bordered(name="form_reset_password",
                    ng-controller="reset_password_controller", ng-submit="form_reset_password.$valid && reset()", novalidate)
                    .form-group(ng-class="{'has-error' : form_reset_password.password.$invalid}")
                        .col-xs-12
                            .input-group
                                span.input-group-addon
                                    i.gi.gi-asterisk
                                input#reset-password.form-control.input-lg(type="password", ng-model="user.password",
                                    name="password", placeholder="新密码", ng-maxlength="20", ng-minlength="6", required)
                            .help-block.animation-slideDown(ng-show="form_reset_password.password.$invalid") 密码6-16位
                    .form-group
                        .col-xs-12
                            .input-group
                                span.input-group-addon
                                    i.gi.gi-asterisk
                                input#reset-password-verify.form-control.input-lg(type="password", ng-model="user.password_verify", 
                                    name="password_verify", placeholder="再输入一次", ng-maxlength="20", ng-minlength="6", required)
                            .help-block.animation-slideDown
                    .form-group.form-actions
                        .col-xs-4
                        .col-xs-8.text-right
                            button.btn.btn-sm.btn-primary(type="submit")
                                i.fa.fa-angle-right
                                |  重置密码
                // END reset-form
        include ./includes/script
        script(src="/static/backend/js/angular/reset-password.js")